html, body { padding:0; margin:0; background-color:#000; color: white; font-family: Helvetica, Arial, sans-serif; font-size:15px; font-weight:normal; }

body { padding-top:10px; }

#nav { position:fixed; top:0; left:0; width:100%; display: inline-block;}

#search-results-container {
    background: white;
    position: relative;
    float: left;
    top: 10px;
    left: 10px;
    width: 15%;
    height: 100%;
}

#nav-right {
    position: relative;
    display: block;
}

#search-title {
    position: relative;
    color: black;
    padding: 4px;
}

#search-results-container .search-album {
    background: #b7d84b;
    position: relative;
    display: block;
    padding: 4px;
    min-height: 200px;
    width: 90%;
    height: 30%;
}

#top-bar {
    display:inline-block;
    padding-left:20px;
}

#artist-picture {
    float:left;
    position: relative;
    padding: 10px;
}

#artist-albums {
    background: black;
    float: left;
    padding: 10px;
}

#artist-albums span {
    background: darkorange;
    display: inline-block;
    width: 200px;
    height: 200px;
    position: relative;
    padding: 4px;
    top: 0;
    background-size: 200px;

}

#top-tracks-section {
}

#artist-description {
    display: block;
}