html, body { height:100%; padding:0; margin:0; background-color: white;}

body { padding:50px 0 0 0; }

#nav { position:fixed; left:0; top:0; width:100%; height:50px; background-color:#005599; }

#album-list .album { float:left; width:200px; height:200px; margin:5px; }
#album-list .album.artist { width:410px; height:410px; }

#artist-name { width: 50%; float: left; font-size: 16px;}
#artist-star-rating { width: 50%; float: right; text-align: right;}

#track-list { display: table;}
.track-list-row { display: table-row; }
.track-list-row div { display: table-cell; padding: 5px 10px;}

#top-tracks-section { height: 300px; background-color: #343434; color: white;}

#artist-description { }