#menu_logo {
    height: 52px;
}

#mobile_searchfield {
    color: white;
}

#search_field {
    color: black;
}

.centeredImage
{
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
}
