@import "variables";

#player-container {
  position: fixed;
  bottom: 0;
  flex-direction: row;
}

#player-container, #push {
  height: 40px;
  background-color: @button-background;
}

#wrapper {
  padding-bottom: -40px;
}