@import "variables";

#playlist-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  #playlist-icon-container {
    height: 100%;
    font-size: 100px;
    margin: 0 25px 0 0;
    flex: 1 1 20%;
  }

  #playlist-header-info {
    border-left: solid 1px @skin-dark-accent-color;
    padding-left: 15px;
    flex: 1 1 80%;

    & a {
      font-size: 16px;
    }
  }
}

// Customization of uikit table

#track-options {
  position: relative;
}

//.ub-button {
//  background: transparent; // Button is not visible when not hovering.
//  color: #ffffff;
  &.ub-button-ellipsis::before {
    font-family: FontAwesome;
    content: none;
  }
//}

//.uk-table-hover tbody tr {
////  background: @table-row-hover;
////  color: @skin-dark-accent-color;
//  &:hover {
//    .ub-button-ellipsis::before {
//      font-family: FontAwesome;
//      content: @ub-ellipsis-vertical-icon;
//    }
//  }
//}

.uk-table-hover tbody tr:hover .ub-button-ellipsis::after {
  font-family: FontAwesome;
  content: @ub-ellipsis-vertical-icon;
  color: @skin-dark-accent-color;
  font-size: 16px;
}