@import "variables";

#sidebar-wrapper {
  height: 100%;
}

@sidebar-transition: {
  transition: width @sidebar-transition-duration,
  background-color @sidebar-transition-duration,
  min-width @sidebar-transition-duration,
  max-width @sidebar-transition-duration,
  linear;
};

#sidebar-left-footer {
//  background-color: @button-background;
  background-color: @skin-dark-accent-color;
  height: @player-container-height;
  position: fixed;
  bottom: 0;
  left: 0;
  width: @sidebar-width;

  @sidebar-transition();

  & #btn-toggle-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    height: 100%;
  }

  & .uk-button {
    background-color: @skin-dark-accent-color;
    display: flex;
    align-items: center;

    &:hover, &:focus {
      color: @button-background;
    }
  }
}

#btn-toggle-sidebar {
  font-size: 20px;
  line-height: 40px;
}

#sidebar-left {
  @sidebar-transition();

  background-color: @skin-dark-background-color;
  z-index: 1000;
  opacity: 1;

  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;

  padding-bottom: @player-container-height + 5px;

  #sidebar-left-content {
    height: 100%;
    max-height: 100%;
  }

  &:not(.sidebar-visible) #sidebar-left-content {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: @skin-dark-accent-color;
  }

  #sidebar-left-content-wrapper {
    height: 100%;

    #sidebar-top {
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}

#sidebar-left.sidebar-visible {
  min-width: @sidebar-width;
  max-width: @sidebar-width;
  width: @sidebar-width;
  max-height: 100%;

  & #sidebar-left-content #sidebar-top {
    margin: 15px 0 0 12px;
    visibility: visible;
    max-height: 100%;
  }

  & #sidebar-left-footer {
    width: @sidebar-width;

    & #btn-icon-toggle-right {
      display: none;
    }
  }
}

#sidebar-left:not(.sidebar-visible) + #main {
  margin-left: 30px;
}

#sidebar-left:not(.sidebar-visible) + #main > #player-container {
  left: 30px;
}

#sidebar-left:not(.sidebar-visible) {
  min-width: 30px;
  max-width: 30px;
  width: 30px;
  padding-bottom: @player-container-height;

  & #sidebar-left-content #sidebar-top {
    margin: 15px 0 -@player-container-height 0;
    visibility: hidden;
    max-height: 100%;
    overflow: hidden;
  }

  & #sidebar-left-footer {
    width: 30px;

    & #btn-icon-toggle-left {
      display: none;
    }
  }
}