body {
    background: black;
    width: 100%;
    height: 100%;
}

#container {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
}

#search-results-container {
    background: white;
    position: relative;
    height: 100%;
    width: 14%;
    top: 10px;
    left: 10px;
    float: left;
}

#artist-page {
    background: cornflowerblue;
    display: block;
    height: 100%;
    width: 80%;
    top: 10px;
    left: 10px;
    position: relative;
    float: left;
}

#search-title {
    position: relative;
    color: black;
    padding: 4px;
}

#search-results-container .search-album {
    background: #b7d84b;
    position: relative;
    display: block;
    padding: 4px;
    min-height: 200px;
    width: 90%;
    height: 30%;
}

#artist-albums {
    background: deepskyblue;
    position: relative;
    display: block;
    width: auto
}

#artist-albums span {
    background: darkorange;
    display: inline-block;
    position: relative;
    padding: 4px;
    top: 0px;
    width: 200px;
    height: 200px
}

#top-tracks-section ul {
    list-style-type: none;
}
