.idea/workspace.xml
.idea/jsLibraryMappings.xml
tpl/ArtistView_Seb.html
.idea/ubeat.iml
.idea/vcs.xml
.idea/dictionaries/Sebastien.xml
projectFilesBackup/.idea/workspace.xml
.idea/vcs.xml
.idea/ubeat.iml
.idea/vcs.xml
*.xml
.idea/jsLibraryMappings.xml
.idea/jsLibraryMappings.xml
.idea/ubeat.iml
