

<div id="artist">
    <div><h2><%= albums[0].artistName %></h2></div>
    <div class="album-tags uk-panel">
        <a href="#" class="uk-button uk-button-small" type="button"><%= albums[0].primaryGenreName %></a>
    </div>
</div>
<div id="album-list-container">
    <div class="album-list uk-flex uk-flex-middle uk-height-1-1">
        <% _.each(albums, function(album) {%>
        <a href="#<%= album.collectionId %>" class="album-thumbnail uk-thumbnail uk-thumbnail-mini">
            <img src="<%= album.artworkUrl200 %>">
            <div class="album-thumbnail-caption uk-thumbnail-caption"><%= album.collectionName %></div>
        </a>
        <% }); %>
    </div>
</div>


