<div class="uk-container uk-container-center uk-margin-top">
    <div class="uk-panel uk-panel-box">
        <ul class="uk-breadcrumb">
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Artists</a></li>
            <li><span><%= artistName %></span></li>
        </ul>
    </div>
</div>

<div class="uk-container uk-container-center">
    <div id="artist-page" class="uk-grid uk-grid-small" data-uk-grid-match>
        <div id="search-results-container" class="uk-width-medium-1-4 uk-width-large-1-6">
            <div class="uk-panel uk-panel-box uk-panel-header uk-hidden-small">
                <div id="search-title" class="uk-panel-title uk-text-center"><h3>Artistes similaires</h3></div>
                <div class="search-album uk-panel uk-panel-box">
                    <img src="_resources/PostalService_cover300dpi.jpg">
                </div>
                <div class="search-album uk-panel uk-panel-box">
                    <img src="_resources/IronAndWine_OurEndlessNumberedDays.jpg">
                </div>
            </div>
        </div>
        <div class="uk-width-medium-3-4 uk-width-large-5-6">
            <div id="artist-top-bar" class="uk-grid uk-grid-small" data-uk-grid-match="">

            </div>
            <div id="top-tracks-section">
                <div id="album-info">
                    <div class="uk-grid uk-grid-small">
                        <div class="uk-width-large-2-3 uk-width-medium-3-5 uk-width-small-1-2">
                            <div id="artist-name-container">
                                <h2 id="artist-name"><%= artistName %></h2>
                            </div>
                            <div class="album-tags uk-panel">
                                <a href="#" class="uk-button uk-button-small" type="button"><%= primaryGenreName %></a>
                            </div>
                        </div>
                        <div class="uk-width-large-1-3 uk-width-medium-2-5 uk-width-small-1-2">
                            <div class="uk-grid uk-grid-small">
                                <div class="uk-width-large-1-2 uk-width-medium-1-1 uk-small-1-2">
                                    <div id="artist-star-rating">
                                        <div class="artist-star-rating uk-icon-star"></div>
                                        <div class="artist-star-rating uk-icon-star"></div>
                                        <div class="artist-star-rating uk-icon-star"></div>
                                        <div class="artist-star-rating uk-icon-star"></div>
                                        <div class="artist-star-rating uk-icon-star-o"></div>
                                    </div>
                                </div>
                                <div class="uk-width-large-1-2 uk-width-medium-1-1 uk-small-1-2">
                                    <div>
                                        Moyenne : 4.1
                                        <div>
                                            5423 avis
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid uk-grid">
                        <div class="uk-width-1-1">
                            <a href="https://itunes.apple.com/ca/artist/death-cab-for-cutie/id5448636?uo=4" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_itunes-lrg.png) no-repeat;width:110px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_itunes-lrg.svg);}"></a>
                        </div>
                    </div>
                </div>
                <div class="uk-panel uk-panel-box">
                    <div id="album-content" class="uk-panel uk-panel-box">

                    </div>
                </div>
                <div class="uk-h2 uk-margin-bottom">Biographie</div>
                <div id="artist-description">
                    <p>Death Cab for Cutie is an American alternative rock band formed in Bellingham, Washington, in 1997.[6] The band comprises Ben Gibbard (vocals, guitar, piano), Nick Harmer (bass) and Jason McGerr (drums). Death Cab for Cutie's music has been labeled as indie rock, indie pop, emo, and alternative rock, and is noted for its use of unconventional instruments as well as Gibbard's unique lyrical style. The band has released seven studio albums, five EPs, and one demo to date. The group takes its name from a song by the Bonzo Dog Doo-Dah Band featured in the Beatles' 1967 film, Magical Mystery Tour. <br><br>
                        Gibbard's first album, You Can Play These Songs with Chords, was released as a demo, leading to a record deal with Barsuk Records.[7] It was at this time that Gibbard decided to expand the project into a complete band, and recruited band members to join. In 1998 the band released its debut album, Something About Airplanes, followed by We Have the Facts and We're Voting Yes in 2000; both records were positively received in the indie community. Lineup changes ensued both before and after the release of the The Photo Album (2001), and the group's album Transatlanticism (2003) gained the band commercial success. After signing with Atlantic Records, Death Cab For Cutie released Plans in 2005, which contained the singles "Soul Meets Body" and "Crooked Teeth". The 2008 record Narrow Stairs served as a stylistic departure for the group. The band released their seventh album, Codes and Keys, on May 31, 2011.<br><br>
                        In 2014, founding guitarist and producer Chris Walla announced that he would be departing from the band after recording their forthcoming eighth studio album.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>