<td class="uk-width-1-10">
    <button
            class="ub-button ub-button-play uk-button uk-button-small"
            type="button"
            data-track-id="<%= track.trackId %>"
            data-track-collection-id="<%= track.collectionId %>"
            data-track-number="<%= track.trackNumber %>"
            data-track-preview-url="<%= track.previewUrl %>"
            data-track-artist-id="<%= track.artistId %>"
            data-icon="uk-icon-play">
    </button>
</td>
<td class="uk-width-1-5">
    <div class="row-song-title">
        <%= track.trackName %>
    </div>
</td>
<td class="uk-width-2-10">
    <div class="row-song-artist">
        <a href="#artists/<%= track.artistId %>">
            <%= track.artistName %>
        </a>
    </div>
</td>
<td class="uk-width-3-10">
    <div class="row-song-album">
        <a href="#albums/<%= track.collectionId %>">
            <%= track.collectionName %>
        </a>
    </div>
</td>
<td class="uk-width-1-10">
    <% var duration = UB.Utils.convertMsToTime(track.trackTimeMillis); %>
    <%- duration.minutes + ":" + duration.seconds %>
</td>
<td class="uk-width-1-10">
    <div id="track-options" data-uk-dropdown="{mode: 'click'}">
        <button
                class="ub-button ub-button-ellipsis uk-button uk-button-small"
                type="button">
        </button>
        <div class="uk-dropdown uk-dropdown-flip uk-dropdown-up">
            <ul class="uk-nav uk-nav-dropdown">
                <li><a id="dropdown-play" data-track-id="<%= track.trackId %>">Play</a></li>
                <% if (ownerId == userId) { %>
                    <li><a id="dropdown-remove-from-playlist" data-track-id="<%= track.trackId %>">Remove from playlist</a></li>
                <% } %>

            </ul>
        </div>
    </div>
</td>
