<td class="uk-width-1-6">
    <button
            class="ub-button ub-button-play uk-button uk-button-small"
            type="button"
            data-track-id="<%= trackId %>"
            data-track-collection-id="<%= collectionId %>"
            data-track-number="<%= trackNumber %>"
            data-track-preview-url="<%= previewUrl %>"
            data-track-artist-id="<%= artistId %>"
            data-icon="uk-icon-play">
    </button>
</td>
<td>
    <div class="row-song-title">
        <%= trackName %>
    </div>
</td>
<td>
    <div class="row-song-artist">
        <%= artistName %>
    </div>
</td>
<td>
    <div class="row-song-album">
        <%= collectionName %>
    </div>
</td>
<td>
    <% var duration = UB.Utils.convertMsToTime(trackTimeMillis); %>
    <%- duration.minutes + ":" + duration.seconds %>
</td>
<td>
    <a href="" class="uk-icon-minus ub-icon-minus"></a>
</td>
