<div class="uk-container uk-container-center uk-margin-top">
    <h1>
        <%- name %>
    </h1>
    <h3>
        <%= owner.email %>
    </h3>
</div>
<div class="uk-container uk-container-center">
    <table class="uk-table uk-table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
            <th><i class="uk-icon-clock-o"></i></th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>