<div id="sidebar-top">
    <form id="create-playlist-form" class="uk-form">
        <div class="uk-grid uk-grid-small uk-margin">
            <div class="uk-width-1-1 uk-margin-bottom">
                <input name="new-playlist-name-input" id="new-playlist-name" type="text" placeholder="New playlist name..." class="uk-width-1-1" required>
            </div>
            <div class="uk-width-1-1">
                <button id="btn-create-playlist" class="uk-button uk-width-1-1">
                    <i class="uk-icon-plus"></i>
                    Create
                </button>
            </div>
        </div>
    </form>
    <div class="uk-alert uk-hidden" data-uk-alert>
        <p>New playlist successfully created!</p>
    </div>

    <ul id="playlists-menu" class="uk-list uk-list-space">
        <% var groupedPlaylists = playlists.groupPlaylistsByOwner(); %>
        <% var fromOwner = groupedPlaylists[UB.session.user.id] %>

        <li>
            <ul>
                <li>
                    <a id="logged-in-user-playlists-title" href="#users/<%= UB.session.user.id %>">
                        Your playlists (<%= fromOwner ? fromOwner.length : 0 %>)<% if (!fromOwner) { %><br><br><% } %>
                    </a>
                </li>

                <% _.each(fromOwner, function(playlist) { %>
                <li class="playlist-row" data-playlist-id="<%= playlist.id %>" data-playlist-owner-id="<%= playlist.get('owner').id %>">
                    <a href="#playlists/<%= playlist.id %>"
                       class="playlist-link">
                        <%- playlist.get('name') %>
                    </a>

                    <form class="uk-form">
                        <input name="rename-input" class="rename-playlist-input uk-hidden" type="text" required>
                    </form>

                    <div class="buttons-container">
                        <div class="edit-delete-buttons-container">
                            <a class="btn-playlist-edit uk-button uk-button-small"
                               data-playlist-id="<%= playlist.id %>">
                                <i class="uk-icon-pencil"></i>
                            </a>
                            <a class="btn-playlist-delete uk-button uk-button-small"
                               data-playlist-id="<%= playlist.id %>">
                                <i class="uk-icon-minus"></i>
                            </a>
                        </div>
                        <div class="edit-buttons-group uk-button-group uk-hidden">
                            <a class="btn-rename-submit uk-button uk-button-small"
                               data-playlist-id="<%= playlist.id %>">
                                <i class="uk-icon-check"></i>
                            </a>
                            <a class="btn-rename-cancel uk-button uk-button-small"
                               data-playlist-id="<%= playlist.id %>">
                                <i class="uk-icon-close"></i>
                            </a>
                        </div>
                    </div>
                </li>
                <% }); %>
            </ul>
        </li>

        <% delete groupedPlaylists[UB.session.user.id] %>
        <% Object.keys(groupedPlaylists).forEach(function(key) { %>

        <li>
            <ul>
                <li>
                    <a href="#users/<%= groupedPlaylists[key][0].get('owner').id %>">
                        <%= groupedPlaylists[key][0].get('owner').name %> (<%= groupedPlaylists[key] ? groupedPlaylists[key].length : 0 %>)<% if (!groupedPlaylists[key]) { %><br><br><% } %>
                    </a>
                </li>

                <% _.each(groupedPlaylists[key], function(playlist) { %>
                <li class="playlist-row" data-playlist-id="<%= playlist.id %>" data-playlist-owner-id="<%= playlist.get('owner').id %>">
                    <a href="#playlists/<%= playlist.id %>"
                       class="playlist-link uk-width-1-1">
                        <%= playlist.get('name') %>
                    </a>
                </li>
            </ul>
        </li>

        <% }); %>
        <% }); %>
    </ul>
</div>

<div id="sidebar-left-footer">
    <div id="btn-toggle-container">
        <button id="btn-toggle-sidebar" class="uk-button uk-button-small">
            <i id="btn-icon-toggle-right" class="uk-icon-toggle-right"></i>
            <i id="btn-icon-toggle-left" class="uk-icon-toggle-left"></i>
        </button>
    </div>
</div>
