<audio src="<%= previewUrl %>" data-track-id="<%= trackId %>">
    Your browser does not support the <code>audio</code> element.
</audio>
<!--<div class="uk-grid uk-grid-small">-->
<div id="player-view-container">
    <div id="player-view">
        <div id="audio-player-song-name-artist-name" class="uk-panel uk-text-center">
            <p><%= trackNumber %><% if (trackNumber) { %>. <% }
                %><%= trackName %> -- <%= artistName %></p>
        </div>
        <div id="audio-player-controls" class="uk-panel">
            <div id="audio-player-progress" class="uk-progress uk-progress-mini">
                <span id="audio-player-progress-bar" class="uk-progress-bar"></span>
            </div>
            <div id="audio-player-button-wrapper"
                 class=" uk-panel uk-text-center">
                <div class="uk-panel">
                    <a role="button" class="audio-player-button small uk-icon-fast-backward"></a>
                </div>
                <div class="uk-panel">
                    <a id="playButton" role="button" class="audio-player-button uk-icon-play"></a>
                    <a id="pauseButton" role="button" class="audio-player-button uk-icon-pause"
                       style="display: none"></a>
                </div>
                <div class="uk-panel">
                    <a role="button" class="audio-player-button small uk-icon-fast-forward"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="visualizer-container">
    <!--We must specify the width and height here for the canvas element to work properly.-->
    <div id="flex-container">
        <canvas id="visualizer-canvas" width="300px" height="52px"></canvas>
    </div>
</div>
<!--</div>-->
