<div id="recently-played-tpl" class="uk-flex uk-flex-middle uk-height-1-1">
    <% _.each(albums, function(album) { %>
    <a href="#albums/<%= album.collectionId %>" class="album-thumbnail uk-thumbnail uk-thumbnail-mini">
        <div class="cover-img-container">
            <img src="<%= album.artworkUrl200 %>">
        </div>
        <div class="text_here">
                <span class="album-thumbnail-caption uk-thumbnail-caption ellipsis_text">
                    <div id="album-name">
                        <%= album.collectionName %>
                    </div>
                    <div id="album-release-date">
                        <%- UB.Utils.getYearFromDate(album.releaseDate) %>
                    </div>
                </span>
        </div>
    </a>
    <% } ); %>
</div>