<td>
    <img src="<%= album.artworkUrl60 %>">
</td>
<td class="uk-width-1-10">

</td>
<td>
    <div class="row-song-title uk-width-3-5">
        <a href="#albums/<%= album.collectionId %>"><%= album.collectionName %></a>

    </div>
</td>
<td>
    <div class="row-song-artist">
        <a href="#artists/<%= album.artistId %>"><%= album.artistName %></a>
    </div>
</td>
<td>

</td>
<td class="uk-width-1-10">
    <div id="track-share-button" data-uk-dropdown="{mode: 'click'}">
        <button
                class="ub-button ub-button-ellipsis uk-button uk-button-small"
                type="button">
        </button>
        <div class="uk-dropdown uk-dropdown-flip uk-dropdown-up" >
            <ul class="uk-nav uk-nav-dropdown uk-nav-parent-icon" data-uk-nav>
                <li class="uk-parent">
                    <a href="#">
                        Add to playlist...
                    </a>
                    <ul id="add-to-playlist-accordion" class="uk-nav-sub">
                        <% _.each(pColl, function(playlist){%>
                        <li data-playlist-id="<%= playlist.id %>" data-collection-id="<%= album.collectionId %>" class="ajout-album-playlist">
                            <a>
                            <%= playlist.attributes.name %>
                            </a>
                        </li>
                        <% }); %>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</td>