<div>
    <p>
        Search results for <i><%= searchString %></i> in <%= mode %> :
    </p>
    <table class="uk-table uk-table-hover">
        <thead>
        <tr>
            <th>Result</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
    <div>
        <button id="load-more-button" class="uk-button uk-width-1-1" type="button">More!</button>
        <div id="load-more-loading">Loading...</div>
    </div>
</div>